/* css styles */

.navbar {
  background-color: #C8A2C8; /* Cor Lilás */
}

/* Ajuste para garantir que o texto da navbar seja legível */
.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f8f9fa !important;
}
